@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  background-image: url("../public/bg.jpeg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;  
  backdrop-filter: blur(10px);
  color: white;
}

.navbar, .footer {
  background-color: rgba(55, 55, 55, 0.2);
  backdrop-filter: blur(5px);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 112px;
  width: 100%;
}

/* Position text in the middle of the page/image */
.bg-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.bg-text2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  padding: 0px 20px;
  text-align: center;
}


.image-container {
  width: 100vw;
}

.pfp {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.person:hover {
  background-color: rgba(55, 55, 55, 0.2);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.notaperson:hover {
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: white;
  border-radius: 5px;
  outline: none;
  opacity: .9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4b5563;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4b5563;
  cursor: pointer;
}